
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Yousef Kotp</p>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
