<%- include("partials/header") %>
<h1>Compose</h1>
<form  action="/compose" method="post">

    <div class="form-group">
        <h3>Title</h3>
        <input class ="form-control" type="text" name="titleInput">
    </div>

    <div class="form-group">
        <h3>Post</h3>
        <textarea class ="form-control" name="textInput" ></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Publish</button>
    
</form>

<%- include("partials/footer") %>